body {
    background: 'background.jpg';
    color: white;
    font-family: Arial;
    text-align: center;

    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

body::before {
    content: "";
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.5);
    z-index: -1;
}

button {
    padding: 10px;
    margin: 5px;
    background: black;
    color: white;
    border: none;
    cursor: pointer;
}

.tab {
    display: none;
    margin-top: 20px;
}